body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: lightgrey;
}


h1 {
    background-color: #2a5599;
    color: white;
    padding: 5px;
}

h2 {
    text-align:center;
}

svg{
    border: solid 1px black;
    margin-right: 50px;
}


.mainView{
    width: 2015px;
    height: 750px;
    display: flex;
    padding: 10px;
}


.Box2{
    position: absolute;
    left: 750px;
}

.Box3{
    position: absolute;
    left: 750px;
    top: 450px
}

.Box4{
    position: absolute;
    left: 1350px;
}

.Box5{
    position: absolute;
    left: 1350px;
    top: 450px
}

.BelowMainViewText{
    width: 2015px;
    height: 300px;
    display: flex;
    padding: 10px;
    left: 50px;
}

.BelowMainViewText p{
    position: relative;
    right: -25.2em;
    bottom: 0;
    text-align: left;
    width: 1400px;

}

.BelowMainViewText #a1{
    position: relative;
    bottom: -150px;
    left: -87em;
}

.BelowMainViewText #a2{
    position: relative;
    bottom: -150px;
    left: 25em;
}
