body {
    font-family: Helvetica, Arial, sans-serif
}

#a1{
    position: absolute;
    bottom: 10px;
    left: 30px;
}

#a2{
    position: absolute;
    bottom: 10px;
    right: 30px;
}

h1 {
    background-color: #2a5599;
    color: white;
    padding: 5px;
}

h2 {
    text-align:center;
}

svg{
    border: solid 1px black;
    margin-right: 50px;
}


.mainView{
    width: 1500px;
    height: 800px;
    display: flex;
    padding: 10px;
}


.Box2{
    position: absolute;
    left: 750px;
}

.Box3{
    position: absolute;
    left: 750px;
    top: 450px
}

.Box4{
    position: absolute;
    left: 1350px;
}

.Box5{
    position: absolute;
    left: 1350px;
    top: 450px
}
