body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: lightgrey;
}


h1 {
    background-color: #2a5599;
    color: white;
    padding: 5px;
}

h2 {
    text-align:center;
}

svg{
    border: solid 1px black;
    margin-right: 50px;
}


.mainView{
    width: 2015px;
    height: 750px;
    display: flex;
    padding: 10px;
}

.Box2{
    position: absolute;
    left: 750px;
}

.Box3{
    position: absolute;
    left: 750px;
    top: 450px
}

.Box4{
    position: absolute;
    left: 1350px;
}

.Box5{
    position: absolute;
    left: 1350px;
    top: 450px
}

.BelowMainViewText{
    width: 2015px;
    height: 300px;
    display: flex;
    padding: 10px;
    left: 50px;
}

.BelowMainViewText p:nth-child(1){
    position: relative;
    left: 2.2em;
    bottom: 0;
    text-align: left;
    width: 500px;
    padding-right: 20px;

}

.BelowMainViewText p:nth-child(2){
    position: relative;
    left: 20em;
    bottom: 0;
    text-align: left;
    width: 900px;

}

.BelowMainViewText a{
    position: relative;
    bottom: -100px;
    left: 25em;
}